* {
  box-sizing: border-box;

  h1,
  h2,
  p {
    margin: 0;
  }
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-image: url('./images/intro-page.png');
  background-size: 100% 100%;
}

$textColor: #293264;
$buttonDark: #4d5b9e;
$buttonLight: #d6dbf5;
$buttonWhite: #f5f7fb;
$correct: #94d7a2;
$incorrect: #f8bcbc;

.container {
  height: 100vh;
  width: clamp(10rem, 70%, 50rem);
  margin: 0 auto;
  overflow-x: hidden;
  padding: 2em 0;

  // scrollbar
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}

.splash {
  position: absolute;
  top: 47.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  // centering
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  > h1 {
    font-family: Karla, sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: $textColor;
    margin-bottom: 0.5rem;
  }

  > p {
    color: $textColor;
    font-size: 1rem;
    font-family: Inter, sans-serif;
    margin-bottom: 1.5rem;
  }
}

// reusable button 👇
@mixin button($fontSize, $bgColor, $borderColor, $textColor) {
  background-color: $bgColor;
  color: $textColor;
  font-size: $fontSize;
  font-family: Inter, sans-serif;
  font-weight: 500;
  padding: 1em 3.5em;
  border-radius: 1em;
  border: none;
  border: 1.2px solid $borderColor;
  cursor: pointer;
}

@mixin buttonSmall($bgColor, $borderColor, $textColor) {
  @include button(0.8rem, $bgColor, $borderColor, $textColor);
  padding: 0.2em 0.5em;
  min-width: 5rem;
}

.button {
  &.dark {
    @include button(1rem, $buttonDark, $buttonDark, #fff);
  }
  &.light {
    @include buttonSmall($buttonWhite, $buttonDark, $textColor);
  }
  &.light.selected {
    @include buttonSmall($buttonLight, $buttonLight, $textColor);
  }
  &.correct {
    @include buttonSmall($correct, $buttonLight, $textColor);
  }
  &.incorrect {
    @include buttonSmall($incorrect, $buttonLight, $textColor);
  }
  &.discarded {
    @include buttonSmall($buttonWhite, #a1a9cc, #8f94af);
  }
  &.incorrect.discarded {
    @include buttonSmall($incorrect, $incorrect, #8f94af);
    
  }
}

.question {
  &-title {
    font-family: Karla, sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    color: $textColor;
    margin-bottom: 0.8rem;
    // line-height: 2.5rem;
  }
  &-btn-wrapper {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  hr {
    height: 0px;
    border: 0.8px solid #dbdef0;
  }
  &-score-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
  }
  &-score {
    font-family: Inter;
    font-weight: bold;
    font-size: 1.1rem;
    color: $textColor;
    margin-right: auto;
  }
  &-play_again {
    @extend .button.dark;
  }
}
